@import 'rfs/scss.scss';
// @import 'bootstrap/scss/mixins/_grid-framework.scss';

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 2rem 1rem;

    // @include media-breakpoint-up(md) {
    //     padding: 2rem 3rem;
    // }
    
    &:nth-child(2n) {
        background-color: rgba(0, 0, 0, .05);
    }
}

.header {
    align-self: flex-start;
    justify-self: center;
}

.chevronContainer {
    display: flex;
    align-self: flex-end;
    justify-self: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 2rem;
}

.innerContent {
    flex-grow: 1;
}

.chevron {
    @include font-size(2rem);
    animation: chevron-bump 3s ease-in-out infinite;
    cursor: pointer;

    @keyframes chevron-bump {
        0%,
        80%,
        to { transform: translateY(0); }
        90% { transform: translateY(-.5rem); }
        95% { transform:translateY(.25rem); }
    }
}
