@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #0a0a0a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1e293b;
    --foreground: #ededed;
  }
}

/* TODO: Figure these out */
body {
  /* @apply text-inter; */
  /* @apply text-foreground; */
  /* @apply bg-background; */
  font-family: Arial, Helvetica, sans-serif;
}
