.cardImage {
    max-height: 25rem;
    object-fit: cover;
}

.cardText {
    overflow: hidden;
}

.readMore {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

.buttonContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}