@import 'rfs/scss.scss';

.overlay {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, .7);
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.headshot {
    border-radius: 50rem;
    width: 50%;

    box-shadow: 0 4px 12px rgb(0 0 0 / 55%);
    margin-top: 1rem;
    transition: .2s ease-in-out box-shadow, .2s ease-in-out transform;

    &:hover {
        transform: translateY(-7px);
        box-shadow: 2px 6px 12px rgb(0 0 0 / 55%);
    }
}

.header {
    margin: 2rem 1rem;
    text-align: center;
}

.chevronContainer {
    display: flex;
    align-self: flex-end;
    justify-self: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.chevron {
    @include font-size(2rem);
    animation: chevron-bump 3s ease-in-out infinite;
    cursor: pointer;

    @keyframes chevron-bump {
        0%,
        80%,
        to { transform: translateY(0); }
        90% { transform: translateY(-.5rem); }
        95% { transform:translateY(.25rem); }
    }
}
